{% extends 'allrestaurants/base.html' %}
{% block title %}Add Item Category{% endblock %}

{% block link %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

{% endblock %}

{% block content %}
<style type="text/css">
	input[type=checkbox] {
    margin: 13px 0px 0px 0px; 
    
}
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}


.btn-select {
    position: relative;
    padding: 0;
    min-width: 236px;
    width: 100%;
    border-radius: 0;
    margin-bottom: 20px;
}

.btn-select .btn-select-11-value {
    padding: 6px 12px;
    display: block;
    position: absolute;
    left: 0;
    right: 34px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
}

.btn-select .btn-select-arrow {
    float: right;
    line-height: 20px;
    padding: 6px 10px;
    top: 0;
}

.btn-select select {
    display: none;
    background-color: white;
    color: black;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: none !important;
    position: absolute;
    left: -1px;
    right: -1px;
    top: 33px;
    z-index: 999;
}

.btn-select select option {
    padding: 3px 6px;
    text-align: left;
}

.btn-select select option:hover {
    background-color: #f4f4f4;
}

.btn-select select option.selected {
    color: white;
}

/* Default Start */
.btn-select.btn-default:hover, .btn-select.btn-default:active, .btn-select.btn-default.active {
    border-color: #ccc;
}

.btn-select.btn-default select option.selected {
    background-color: #ccc;
}

.btn-select.btn-default select, .btn-select.btn-default .btn-select-11-value {
    background-color: white;
    border: #ccc 1px solid;
}

.btn-select.btn-default:hover, .btn-select.btn-default.active {
    background-color: #e6e6e6;
}
/* Default End */

/* Primary Start */


.btn-select-1 {
    position: relative;
    padding: 0;
    min-width: 236px;
    width: 100%;
    border-radius: 0;
    margin-bottom: 20px;
}

.btn-select-1 .btn-select-1-value {
    padding: 6px 12px;
    display: block;
    position: absolute;
    left: 0;
    right: 34px;
    text-align: left;
    text-overflow: eloptionpsis;
    overflow: hidden;
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
}

.btn-select-1 .btn-select-1-arrow {
    float: right;
    line-height: 20px;
    padding: 6px 10px;
    top: 0;
}

.btn-select-1 select {
    display: none;
    background-color: white;
    color: black;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: none !important;
    position: absolute;
    left: -1px;
    right: -1px;
    top: 33px;
    z-index: 999;
}

.btn-select-1 select option {
    padding: 3px 6px;
    text-align: left;
}

.btn-select-1 select option:hover {
    background-color: #f4f4f4;
}

.btn-select-1 select option.selected {
    color: white;
}

/* Default Start */
.btn-select-1.btn-default:hover, .btn-select-1.btn-default:active, .btn-select-1.btn-default.active {
    border-color: #ccc;
}

.btn-select-1.btn-default select option.selected {
    background-color: #ccc;
}

.btn-select-1.btn-default select, .btn-select-1.btn-default .btn-select-1-value {
    background-color: white;
    border: #ccc 1px solid;
}

.btn-select-1.btn-default:hover, .btn-select-1.btn-default.active {
    background-color: #e6e6e6;
}
/* Default End */

/* Primary Start */



</style>

<form id="form_create_coupon" method="post" class="form-horizontal" action="{% url 'allrestaurants:save_created_coupon' pk=restaurant.unique_id %}" autocomplete="off" >
				{% csrf_token %}
	<input id="restaurant_slug" type="hidden" value="{{ restaurant.slug }}">
	<div class="container" id="">
		<div class="jumbotron">
			<p>Restaurant Name: <a href="{% url 'allrestaurants:restaurant_list'%}">{{ restaurant }}</a></p>
			<h4 class="text-center">Create Coupon</h4><hr>
			<p style="font-weight: bold ">What kind of coupon you want to create:</p>
			<div class="radio ">
				<label style="font-weight: normal; font-size: 16px "><input type="radio" id="radio_1" class="radioBtnClass" name="coupon_kind" value="1" > single general coupon</label>
			</div>
			<div class="radio">
				<label style="font-weight: normal; font-size: 16px "><input type="radio" id="radio_2" class="radioBtnClass" name="coupon_kind" value="2">multiple unique coupon</label>
			</div>								
		</div>
	</div>
	<div id="div_container" style="display:none;">
		<div class="container">
			<div class="jumbotron">
				<div id="div1" style="display:none;">
					<h4 class="text-center">Coupon Type : Single General Coupon</h4><hr>				
					<div class="form-group">
		    			<label class="control-label col-sm-2" for="coupan_code1">Coupon Code:</label>
						<div class="col-sm-10">
		  					<input type="text" class="form-control" id="coupan_code1" name="coupon_name1" placeholder="" value=""  >
				    	</div>
					</div>
					<div class="form-group">
					    <label class="control-label col-sm-2" for="select_item_category">Choose Items:</label>
					    <div class="col-sm-4">
						    <a class="btn btn-default btn-select">
				                <!-- <input type="hidden" class="btn-select-input11" id="" name="" value="" /> -->
				                <input class="btn-select-11-value col-sm-10" id="select_items_input11" type="text" name="select11" value="" placeholder="Select Item Category" readonly/>
				                <span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>
				                <select multiple class="form-control select-change" id="select_item_categories11" name="select_items11">
				                	{% for item in item_categories %}
										<option value="{{ item.unique_id }}"" id="{{ item }}" >{{ item }}</option>   
									{% endfor %}
				                </select>
				            </a>						    
						</div>
						<!-- <label class="control-label col-sm-2" for="select_items"></label> -->
					    <div class="col-sm-6">
						    <a class="btn btn-default btn-select-1">
                                
                                <input class="btn-select-1-value col-sm-10" id="select_items_input1" type="text" name="select1" value="" placeholder="Select Items" readonly/>
                                <!-- <span class="btn-select-1-value">Select an Item</span> -->
                                <span class='btn-select-1-arrow glyphicon glyphicon-chevron-down'></span>
                               <!--  <ul id="select_items">
                                    
                                </ul> -->
            
                                <select multiple class="form-control" id="select_items1" name="select_items1"  >
                                    
                                </select>
                            </a>
						   
						</div>
					</div>
					<div class="form-group">
					    <label class="control-label col-sm-2" for="sel1">Coupon Type:</label>
					    <div class="col-sm-10">
						    <select class="form-control" id="sel1" name="coupon_type1" >
						    	<option value="" selected ></option>
						        <option value="cost">Cost Discount</option>
						        <option value="percent">Percent Discount</option>
						        <option value="bogo">BOGO</option>
						    </select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="coupon_description1">Coupon Description:</label>
						<div class="col-sm-10">
		  					<input type="text" class="form-control" id="coupon_description1" name="description1" value="" placeholder="" >
				    	</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="max_discount1">Max Discount:</label>
						<div class="col-sm-10">
		  					<input type="number" class="form-control" id="max_discount1" name="max_discount1" value=0 placeholder="" >
				    	</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="min_order1">Min Order:</label>
						<div class="col-sm-10">
		  					<input type="number" class="form-control" id="min_order1" name="min_order1" value=0 placeholder="" >
				    	</div>
					</div>				
					<div class="form-group">
						<label class="control-label col-sm-2" for="datepicker1">Starting Date:</label>
							<div class="col-sm-10">
		  					<input type="text" class="form-control"  id="datepicker1" name="start_date1" value="" placeholder="" >
				    	</div>
					</div>	
					<div class="form-group">
						<label class="control-label col-sm-2" for="datepicker11">Ending Date:</label>
							<div class="col-sm-10">
		  					<input type="text" class="form-control" id="datepicker11" name="end_date1" value="" placeholder="" >
				    	</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="checkbox1">COD Available:</label>
							<div class="col-sm-10">
		  					<input id="checkbox1" class="right" type="checkbox" name="is_cod_available1">
				    	</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="checkbox11">Allow Use E-Wallet:</label>
							<div class="col-sm-10">
		  					<input id="checkbox11" class="right" type="checkbox" name="allow_e_wallet1">
				    	</div>
					</div>
				</div>
			<!-- second_________________________________________________________________________________________________________form -->
				<div id="div2" style="display:none;">
					<h4 class="text-center">Coupon Type : Multiple Unique Coupon</h4><hr>
					<div class="form-group">
						<label class="control-label col-sm-2" for="element">No. Of Coupons:</label>
						<div class="col-sm-10">
								<input type="number" class="form-control" id="element" name="element" min="0" max="500" placeholder="number of coupons you want to create" value="">
				    	</div>
					</div>			
					<div class="form-group">
						<label class="control-label col-sm-2" for="coupan_prefix2">Coupon Prefix:</label>
						<div class="col-sm-10">
								<input type="text" class="form-control" id="coupan_prefix2" name="coupon_prefix2" placeholder="" value="">
				    	</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="coupon_suffix2">Coupon Suffix:</label>
						<div class="col-sm-10">
								<input type="text" class="form-control" id="coupon_suffix2" name="coupon_suffix2" placeholder="" value="">
				    	</div>
					</div>
					<div class="form-group">
					    <label class="control-label col-sm-2" for="select_item_category">Choose Items:</label>
					    <div class="col-sm-4">
					    <a class="btn btn-default btn-select">
				                <!-- <input type="hidden" class="btn-select-input11" id="" name="" value="" /> -->
				                <input class="btn-select-11-value col-sm-10" id="select_items_input22" type="text" name="select11" value="" placeholder="Select Item Category" readonly/>
				                <span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>
				                <select multiple class="form-control select-change" id="select_item_categories22" name="select_items22"  >
				                	{% for item in item_categories %}
										<option value="{{ item.unique_id }}"" id="{{ item }}" >{{ item }}</option>   
									{% endfor %}
				                </select>
				            </a>						    
						</div>
						<!-- <label class="control-label col-sm-2" for="select_items"></label> -->
					    <div class="col-sm-6">
						    <a class="btn btn-default btn-select-1">
                                
                                <input class="btn-select-1-value col-sm-10" id="select_items_input2" type="text" name="select2" value="" placeholder="Select Items" readonly/>
                                <!-- <span class="btn-select-1-value">Select an Item</span> -->
                                <span class='btn-select-1-arrow glyphicon glyphicon-chevron-down'></span>
                               <!--  <ul id="select_items">
                                    
                                </ul> -->
            
                                <select multiple class="form-control" id="select_items2" name="select_items2"  >
                                    
                                </select>
                            </a>
						   
						</div>
					</div>
					<div class="form-group">
					    <label class="control-label col-sm-2" for="sel2">Coupon Type:</label>
					    <div class="col-sm-10">
						    <select class="form-control" id="sel2" name="coupon_type2" >
						    	<option value="" selected ></option>
						        <option value="cost">Cost Discount</option>
						        <option value="percent">Percent Discount</option>
						        <option value="bogo">BOGO</option>
						    </select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="coupon_description2">Coupon Description:</label>
						<div class="col-sm-10">
								<input type="text" class="form-control" id="coupon_description2" name="description2" value="" placeholder="" >
				    	</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="max_discount2">Max Discount:</label>
						<div class="col-sm-10">
								<input type="number" class="form-control" id="max_discount2" name="max_discount2" value=0 placeholder="" >
				    	</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="min_order2">Min Order:</label>
						<div class="col-sm-10">
								<input type="number" class="form-control" id="min_order2" name="min_order2" value=0 placeholder="" >
				    	</div>
					</div>				
					<div class="form-group">
						<label class="control-label col-sm-2" for="datepicker2">Starting Date:</label>
							<div class="col-sm-4">
								<input type="text" class="form-control"  id="datepicker2" name="start_date2" value="" placeholder="" >
				    	</div>
				    	<label class="control-label col-sm-2" for="timepicker2">Starting Time:</label>
							<div class="col-sm-4">
								<input type="text" class="form-control"  id="timepicker2" name="start_time2" value="" placeholder="" >
				    	</div>
					</div>	
					<div class="form-group">
						<label class="control-label col-sm-2" for="datepicker22">Ending Date:</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="datepicker22" name="end_date2" value="" placeholder="" >
				    	</div>
				    	<label class="control-label col-sm-2" for="timepicker22">Starting Time:</label>
							<div class="col-sm-4">
								<input type="text" class="form-control"  id="timepicker22" name="end_time2" value="" placeholder="" >
				    	</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="checkbox2">COD Available:</label>
							<div class="col-sm-10">
								<input id="checkbox2" class="right" type="checkbox" name="is_cod_available2">
				    	</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="checkbox22">Allow Use E-Wallet:</label>
							<div class="col-sm-10">
								<input id="checkbox22" class="right" type="checkbox" name="allow_e_wallet2">
				    	</div>
					</div>
				</div>
				<div id="div_submit" style="display:none;">
					<input type="submit" name="submit" class="btn btn-info pull-right">
				</div>
			</div>
		</div>
	</div>
</form>

<!-- <div id="snackbar">Plz Choose One Option</div> -->

{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>	
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

<script type="text/javascript">

	$("input[type='radio'].radioBtnClass").change(function(e){
		var radio_value = $("input[type='radio'].radioBtnClass:checked").val();
		// if (!$("input[type='radio'].radioBtnClass").is(':checked')) {
		// 	$().ready(function() {
		// 				    var x = document.getElementById("snackbar")
		// 				    x.className = "show";
		// 				    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
		// 				});
		// }
		// else {}
		if (radio_value=="1") {	
				$('#div2').hide();		
				$('#div1,#div_submit,#div_container').fadeIn(500);
				$("#coupan_code2,#max_discount2,#min_order2,#datepicker2,#sel2").prop('required',false);
				$("#coupan_code1,#max_discount1,#min_order1,#datepicker1,#sel1").prop('required',true);
				$("#select_items1").css({'height':'30px'});
				$(".btn-select-value").html("Select an Item Category")
				$("#select_items1").append('<option disabled>Plz Select Item Category </option>');
				$("#select_items2 option").remove();
				$('#div2').find('input').val(''); 
				$('#div2').find('select').val('');
				$('#checkbox2').attr('checked', false);
				$('#checkbox22').attr('checked', false);
				$().ready(function() {
					// $("input, select, textarea")
					// .not("input[type=checkbox], input[type=radio], input[type=button], input[type=submit]")
					// .val("");
					// $("input[type=checkbox], input[type=radio]").prop("checked", false);
					
				});
			} else {
				$('#div1').hide();
				$('#div2 ,#div_submit,#div_container').fadeIn(500);
				$("#coupan_code1,#max_discount1,#min_order1,#datepicker1,#sel1").prop('required',false);
				$("#coupan_code2,#max_discount2,#min_order2,#datepicker2,#sel2").prop('required',true);
				$("#select_items2").css({'height':'30px'});
				$(".btn-select-value").html("Select an Item Category")
				$("#select_items2").append('<option disabled>Plz Select Item Category </option>');
				$("#select_items1 option").remove();
				$('#div1').find('input').val(''); 
				$('#div1').find('select').val('');
				$('#checkbox1').attr('checked', false);
				$('#checkbox11').attr('checked', false);
				$().ready(function() {
					
				});
			}
	});

//$(document).ready(function()
	$( function() {
    	$( "#datepicker1,#datepicker11,#datepicker2,#datepicker22" ).datepicker();

    	

		
  	});


  	$('#timepicker2,#timepicker22').timepicker({
	    timeFormat: 'h:mm p',
	    interval: 30,
	    minTime: '12:00am',
	    maxTime: '11:30pm',
	    defaultTime: '',
	    startTime: '12:00am',
	    dynamic: false,
	    dropdown: true,
	    scrollbar: true
	});
  	var form = $("#form_create_coupon");
	form.submit(function(e){
		e.preventDefault();
		$.ajax({
 			url: form.attr('action'),
 			type: form.attr('method'),
 			data: form.serialize(),
 			dataType: 'json',
 			success:function(data){
 				console.log(data);
 				
 			}
 		})
	});

	// $(document).ready(function () {
	// 	$('.btn-select-value').change(function () {
	// 		var optionSelected = $(this).find("option:selected");
	// 		var item_category_unique_id  = $('#select_item_category').val()
	// 		var item_category  = optionSelected.text();
 //            data = $(".btn-select-input").val() 
 //            console.log(data)      
	// 		$.ajax({
	// 			url: "{% url 'allrestaurants:create_coupon_get_items' %}",
	//  			type: 'POST',
	//  			data: {'item_category_unique_id' : data },
	//  			success:function(data){
	 				
	//  				var jsObject=JSON.parse(data["data"]);
	//  				console.log(jsObject);
	//  				$("#select_items option").remove();
	// 					for (var i = jsObject.length - 1; i >= 0; i--) {
	// 						$("#select_items").append('<option value="' +jsObject[i]["pk"]+ '">'+ jsObject[i]["fields"]["name_of_item"] +'</option>');
	// 					};
	//  			}
	//  		})
	// 	});
	// });
	
// $(document).ready(function () {
//     $(".btn-select").each(function (e) {
//         var value = $(this).find("ul li.selected").html();
//         if (value != undefined) {
//             $(this).find(".btn-select-input").val(value);
//             $(this).find(".btn-select-value").html(value);
//         }
//     });
//     console.log($(".btn-select-input").val())
// });

$(document).on('click', '.btn-select', function (e) {
    e.preventDefault();
    var select = $(this).find("select");
    console.log("clicked")
    if ($(this).hasClass("active")) {
    	console.log("i m active!")
        Bind_item_categories_select_change();
    	
    	
        
  //       var data = {};
  //       if ($("#radio_1").prop("checked")){
  //       	$('#select_item_categories11 option:selected').each(function() {
	 //        data[ $(this).text()] = $(this).val();
	 //    	});
  //       }else{
  //           $('#select_item_categories22 option:selected').each(function() {
	 //        data[ $(this).text()] = $(this).val();
	 //        });
  //       }
	    
  //       // var data = $("#select_item_categories11 option:selected").val()
  //       // var target = $(e.target);
  //       // // console.log(target[0]['id'])
  //       // target.addClass("selected").siblings().removeClass("selected");
  //       // var value = target.html();
  //       // if ($("#radio_1").prop("checked")){
  //       // 	$(this).find(".btn-select-input1").val(target[0]['id']);
  //       // }else{
  //       //     $(this).find(".btn-select-input2").val(target[0]['id']);
  //       // }
        
  //       // $(this).find(".btn-select-value").html(value);
  //       // // console.log($(".btn-select-input").val())
  //       // if ($("#radio_1").prop("checked")){
  //       // 	console.log("hi")
  //       // 	data = $(".btn-select-input1").val()
  //       // }else{
  //       //     data = $(".btn-select-input2").val()
  //       // }
  //       console.log("hi")
  //       // console.log(data)      
		// $.ajax({
		// 	url: "{% url 'allrestaurants:create_coupon_get_items' %}",
 	// 		type: 'POST',
 	// 		data: data,
 	// 		success:function(data){

 	// 			// console.log(data)
 	// 			// console.log(data['data'])
 	// 			// console.log(data['data'][0])
 	// 			// var jsObject=JSON.parse(data["data"]);
 	// 			// console.log(jsObject);
 	// 			// // $("#select_items li ").remove();
 	// 			if ($("#radio_1").prop("checked")){
 	// 				console.log("hi, i m inside radio1")
	 //            	$("#select_items1 option").remove();
	 //            	for (var j = data['data'].length - 1; j >= 0; j--){
		// 				for (var i = data['data'][j].length - 1; i >= 0; i--) {
		// 					// $("#select_items").append('<li value="' +jsObject[i]["pk"]+ '">'+ jsObject[i]["fields"]["name_of_item"] +'</li>');
		// 					$("#select_items1").append('<option value="' +data['data'][j][i]["pk"]+ '" id="' + data['data'][j][i]["name_of_item"] + '">'+ data['data'][j][i]["name_of_item"] +'</option>');
		// 				};
		// 			}
		// 			var x = $("#select_items1 option").length;
		// 		    console.log(x)
		// 			var y = 20 * x +10;
		// 			$("#select_items1").css({'height':y+'px'});
	 //            }else{
	 //            	console.log("hi, i m inside radio2")
	 //               $("#select_items2 option").remove();
	 //            	for (var j = data['data'].length - 1; j >= 0; j--){
		// 				for (var i = data['data'][j].length - 1; i >= 0; i--) {
		// 					// $("#select_items").append('<li value="' +jsObject[i]["pk"]+ '">'+ jsObject[i]["fields"]["name_of_item"] +'</li>');
		// 					$("#select_items2").append('<option value="' +data['data'][j][i]["pk"]+ '" id="' + data['data'][j][i]["name_of_item"] + '">'+ data['data'][j][i]["name_of_item"] +'</option>');
		// 				};
		// 			}
		// 			var x = $("#select_items2 option").length;
		// 		    console.log(x)
		// 			var y = 20 * x +10;
		// 			$("#select_items2").css({'height':y+'px'});
	 //            }
 				
 	// 		}
 	// 	})
        
        
        
        // select.hide();
        // $(this).removeClass("active");
    }
    else {
        $('.btn-select').not(this).each(function () {
            $(this).removeClass("active").find("select").hide();
        });
        select.slideDown(300);
        $(this).addClass("active");
        console.log("got active!")
    }
});

$(document).on('click', function (e) {
    var target = $(e.target).closest(".btn-select");
    if (!target.length) {
        $(".btn-select").removeClass("active").removeClass("selected").find("select").hide();
    }
});

$(document).on('click', '.btn-select-1', function (e) {
    e.preventDefault();
    var select = $(this).find("select");
    // console.log($(this))
    // console.log(select)
    // console.log("clicked")
    if ($(this).hasClass("active")) {
    	Bind_items_select_change()
        
    	
    	
	    // $(this).find(".btn-select-1-value").val(hoo + "; " + $(".btn-select-1-value").val());
    	// console.log(foo[0])
    	// console.log(foo)
    	




        // var target = $(e.target);
        // console.log("target")
        // // console.log(target[0]['id'])
        // target.addClass("selected").siblings().removeClass("selected");
        // var value = target.html();
        // text = $(this).find(".btn-select-1-value").val(value);

        // text = text +value;
        // $(this).find(".btn-select-1-value").val(value + "; " + $(".btn-select-1-value").val());
        // console.log($(".btn-select-1-input").val())
                 
            
        
        //select.hide();
        // $(this).removeClass("active");
        // console.log("active removed")
    }
    else {
        $('.btn-select-1').not(this).each(function () {
            $(this).removeClass("active").find("select").hide();
            console.log("each")
        });
        select.slideDown(300);
        $(this).addClass("active");
        // console.log("active added")
    }
});

$(document).on('click', function (e) {
    var target = $(e.target).closest(".btn-select-1");
    if (!target.length) {
        $(".btn-select-1").removeClass("active").find("select").hide();
    }
    
});
function Bind_items_select_change(){
	$(".btn-select-1-value").val("");
	if ($("#radio_1").prop("checked")){
    	$("#select_items1 option:selected").each(function(i){
	        var value = $(this).attr("id");
	        // console.log(value)
	        if(!$("#select_items_input1").val()){
	        	$("#select_items_input1").val(value);
	        }else{
	        	$("#select_items_input1").val(value + "; " + $("#select_items_input1").val());
	        }
        
    	});
    }else{
        $("#select_items2 option:selected").each(function(i){
	        var value = $(this).attr("id");
	        // console.log(value)
	        if(!$("#select_items_input2").val()){
	        	$("#select_items_input2").val(value);
	        }else{
	        	$("#select_items_input2").val(value + "; " + $("#select_items_input2").val());
	        }
	        
	    });
    }
}

function Bind_item_categories_select_change(){	
	$(".btn-select-11-value").val("");
	if ($("#radio_1").prop("checked")){
    	$("#select_item_categories11 option:selected").each(function(i){
	        var value = $(this).attr("id");
	        // console.log(value)
	        if(!$("#select_items_input11").val()){
	        	$("#select_items_input11").val(value);
	        }else{
	        	$("#select_items_input11").val(value + "; " + $("#select_items_input11").val());
	        }        
    	});
    }else{
        $("#select_item_categories22 option:selected").each(function(i){
	        var value = $(this).attr("id");
	        // console.log(value)
	        if(!$("#select_items_input22").val()){
	        	$("#select_items_input22").val(value);
	        }else{
	        	$("#select_items_input22").val(value + "; " + $("#select_items_input22").val());
	        }	        
	    });
    }

    console.log('change detected')
    var data = {};
    if ($("#radio_1").prop("checked")){
    	$('#select_item_categories11 option:selected').each(function() {
        data[ $(this).text()] = $(this).val();
    	});
    }else{
        $('#select_item_categories22 option:selected').each(function() {
        data[ $(this).text()] = $(this).val();
        });
    }
    data['restaurant_slug'] = $('#restaurant_slug').val()
    console.log("hi")      
	$.ajax({
	url: "{% url 'allrestaurants:create_coupon_get_items' %}",
		type: 'POST',
		data: data,
		success:function(data){
			if ($("#radio_1").prop("checked")){
				console.log("hi, i m inside radio1")
        	$("#select_items1 option").remove();
        	for (var j = data['data'].length - 1; j >= 0; j--){
				for (var i = data['data'][j].length - 1; i >= 0; i--) {
					// $("#select_items").append('<li value="' +jsObject[i]["pk"]+ '">'+ jsObject[i]["fields"]["name_of_item"] +'</li>');
					$("#select_items1").append('<option value="' +data['data'][j][i]["pk"]+ '" id="' + data['data'][j][i]["name_of_item"] + '">'+ data['data'][j][i]["name_of_item"] +'</option>');
				};
			};
			var x = $("#select_items1 option").length;
		    console.log(x)
			var y = 20 * x +10;
			$("#select_items1").css({'height':y+'px'});
	        }else{
	        	console.log("hi, i m inside radio2")
	           $("#select_items2 option").remove();
	        	for (var j = data['data'].length - 1; j >= 0; j--){
					for (var i = data['data'][j].length - 1; i >= 0; i--) {
						// $("#select_items").append('<li value="' +jsObject[i]["pk"]+ '">'+ jsObject[i]["fields"]["name_of_item"] +'</li>');
						$("#select_items2").append('<option value="' +data['data'][j][i]["pk"]+ '" id="' + data['data'][j][i]["name_of_item"] + '">'+ data['data'][j][i]["name_of_item"] +'</option>');
					};
				};
				var x = $("#select_items2 option").length;
			    console.log(x)
				var y = 20 * x +10;
				$("#select_items2").css({'height':y+'px'});
	        };	
		}
	});
	
};


// $(document).keypress(function(event){
// 			    if(event.which=="17"){
// 			        console.log("ctrl hold");
// 			    }
// 			    console.log(event.which);

// 			});
</script>
{% endblock %}


















