{% extends 'allrestaurants/base.html' %}
{% block title %}Restaurant List{% endblock %}

{% block content %}


<div class="container">
	<div class="jumbotron">
		<h4 class="text-center">Restaurants</h4>
		<hr>

		<table class="table table-striped">
			<thead>
      			<tr class="row">
        			<th class="col-sm-1 text-center">Sr No.</th>
                    <th class="col-sm-4">Restaurant Name</th>
                    <th class="col-sm-7"></th>
      			</tr>
    		</thead>
    		<tbody>
    		{% for res in res_list %}
    			<tr class="row">
                    <td class="col-sm-1 text-center" style= "vertical-align:middle;" >
                        {{ forloop.counter }} {# starting index 1 #} 
                    </td>
    				<td class="col-sm-4" style= "vertical-align:middle;" ><h4><a href="" class=" get-detail" data-toggle="modal" id="{{ res.unique_id }}">{{ res.name_of_restaurant }}</a></h4></td>
    				<td class="col-sm-7" style= "vertical-align:middle;" ><p class="pull-right">

                    <a href="{% url 'allrestaurants:restaurant_get_all_items' pk=res.unique_id%}" class="btn btn-info btn-sm" >get all items</a>
            		<a href="{% url 'allrestaurants:add_itemcategory_page' pk=res.unique_id  %}" class="btn btn-info btn-sm ">add itemcategory</a>     
					<a href="{% url 'allrestaurants:edit_restaurant_details' pk=res.unique_id %}" class="btn btn-info btn-sm ">edit details</a>
                    <a href="{% url 'allrestaurants:create_coupon_page' pk=res.unique_id %}" class="btn btn-info btn-sm ">Create Coupon</a>
					</p>	
					</td>					
    			</tr>
    		{% endfor %}
    		</tbody>
		</table>
    </div>
</div>
<div id="res_detail" class="modal fade" role="dialog">
  	<div class="modal-dialog">

    <!-- Modal content-->
    	<div class="modal-content">
      		<div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal">&times;</button>
        	<h4 class="modal-title" id="res_name"></h4>
      		</div>
      		<div class="modal-body">
        	<table class="table table-striped">
        	<tbody>
        		<tr class="row">
        			<td class="col-sm-6">Owner Name:</td>
        			<td class="col-sm-6" id="owner_name_modal"></td>
        		</tr>
                <tr class="row">
                    <td class="col-sm-6">Email:</td>
                    <td class="col-sm-6" id="email_modal"></td>
                </tr>
                <tr class="row">
                    <td class="col-sm-6">Address:</td>
                    <td class="col-sm-6" id="adress_modal"></td>
                </tr>
                <tr class="row">
                    <td class="col-sm-6">Contact:</td>
                    <td class="col-sm-6" id="contact_modal"></td>
                </tr>
                <tr class="row">
                    <td class="col-sm-6">City:</td>
                    <td class="col-sm-6" id="city_modal"></td>
                </tr>
                <tr class="row">
                    <td class="col-sm-6">Location:</td>
                    <td class="col-sm-6" id="location_modal"></td>
                </tr>
        	</tbody>
        		
        	</table>
      		</div>
      		<div class="modal-footer">
        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      		</div>
    	</div>
    </div>
</div>

{% endblock %}

{% block script %}
<script >
	$(".get-detail").click(function(e){
    /*e.preventdefault();*/
/*    restaurant_id=this.id;
    to_send = JSON.stringify({'id':restaurant_id})
    $.ajax({
                url: "{% url 'allrestaurants:restaurant_list' %}",
                type: 'POST',
                data: to_send,

                success: function(data){
                    console.log(data);
                    $("#contact").text(data['data']['contact']);
                    $("#res-name").text(data['data']['res-name']);
                    $("#res_detail").modal('show');   
                }
            });*/
    	restaurant_id=this.id;
    	url="{% url 'allrestaurants:restaurant_list' %}"
    	$.post(url,{'id':restaurant_id},function(data){           
            var jsObject=JSON.parse(data["data"]);
            // console.log(jsObject);
            $("#res_name").text(jsObject[0]["fields"]["name_of_restaurant"]);
    		$("#owner_name_modal").text(jsObject[0]["fields"]["owner_of_restaurant"]);
    		$("#email_modal").text(jsObject[0]["fields"]["email"]);
            $("#adress_modal").text(jsObject[0]["fields"]["address"]);
            $("#contact_modal").text(jsObject[0]["fields"]["contact_number"]);            
            $("#city_modal").text(jsObject[0]["fields"]["city"]);
            $("#location_modal").text(jsObject[0]["fields"]["location"]);

    		$("#res_detail").modal('show');
        });
	});
</script>

{% endblock %}