{% extends 'allrestaurants/base.html' %}
{% block title %}Add Items{% endblock %}

{% block link %}
{% endblock %}

{% block content %}
<style type="text/css">
label.left {
    margin:0 auto;
    display: block;
    line-height: 30px;
    vertical-align: middle;   
    font-size: 15px   
}
.right {
    width:20px;
    margin:0 auto;
    height: 20px;
    display: inline;
    line-height: 200px;
    vertical-align: middle;
}
.veg{
	color: green;
}
.nonveg{
	color: red;
}

.icon-stack-1x,
.icon-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  
}
.icon-stack-1x {
  line-height: inherit;

}
.icon-stack-2x {
  font-size: 1.6em;
}
.modal-btn
    {
        margin:5px;
    }
</style>
<div class="container">
	<div class="jumbotron">
		<h4 class="text-center">Add Items Details</h4>
		<hr>
		{% if element %}
			<p>Restaurant Name: {{ parent.restaurant }}</p>
			<p>Item Category: {{ parent }}</p>
		{% else %}
			<p>Restaurant Name: {{ parent.item_category.restaurant }}</p>
			<p>Item Category: {{ parent.item_category }}</p>
			<p>Item Subcategory: {{ parent }}</p>
		{% endif %}
		<form id="itemform" class="form-horizontal" action="{% url 'allrestaurants:save_item' pk=parent.unique_id %}" method="post" autocomplete="off">
		{% csrf_token %}
			<div class="form-group row">
				<div class="col-sm-2">
					<label class="left pull-right" for="name">Item Name:</label>
				</div>
				<div class="col-sm-4" >
					<input type="text" class="form-control " id="name" name="item_name" required autofocus>
				</div>
				<!-- {% if element %}
					{% if not parent.is_vegetarian and not parent.is_nonvegetarian %}
					<div class="col-sm-2  " >
						<div class="pull-right">
		  					<label for="checkbox1" class="left"> NonVeg: <input id="checkbox1" class="right" type="checkbox" name="item_type"  ></label>
			 			</div>
					</div>
					{% endif %}
				{% else %}
					{% if not parent.is_vegetarian and not parent.is_nonvegetarian and not parent.item_category.is_vegetarian and not parent.item_category.is_nonvegetarian %}
					<div class="col-sm-2  " >
						<div class="pull-right">
		  					<label for="checkbox1" class="left"> NonVeg: <input id="checkbox1" class="right" type="checkbox" name="item_type"  ></label>
			 			</div>
					</div>
					{% endif %}
				{% endif %} -->
				<div class="col-sm-2  " >
					<div class="pull-right">
	  					<label for="checkbox1" class="left"> NonVeg: <input id="checkbox1" class="right" type="checkbox" name="item_type"  ></label>
		 			</div>
				</div>
				
				<div class="col-sm-2 " >
					<div class="pull-right">
	  					<label for="checkbox2" class="left">Has Options: <input id="checkbox2" class="right" type="checkbox" name="options"  ></label>
		 			</div>
				</div>
				
			</div>
			<div class="form-group row  ">
				<div class="col-sm-2">
					<label class=" left pull-right " for="disc">Description:</label>
				</div>
				<div class="col-sm-8">
					<input type="text" class="form-control " id="disc" name="description" >
				</div>
				<div class="col-sm-2 text-center">
					<button type="submit" class="btn btn-info pull-right">Submit</button>
				</div>
			</div>	
		</form>	
	</div>
</div>
<div class="container">
	<div class="jumbotron">
		<h4 class="text-center">Items</h4>
		<hr>
		<div id="plz_update">
			{% include 'allrestaurants/admin_add_items_table.html' %}
		</div>
    </div>
</div>
<div id="edit_item_detail" class="modal fade" role="dialog">
  	<div class="modal-dialog">

    <!-- Modal content-->
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal">&times;</button>
        		<h4 class="modal-title" id=""></h4>
      		</div>
      		<div class="modal-body">
	        	<form id="modal_edit_item_form" class="form-horizontal" action="{% url 'allrestaurants:save_edited_item'%}" method="post" autocomplete="off">
				{% csrf_token %}
					<div class="form-group row">
						<div class="col-xs-3">
							<label class="left pull-right" for="modal_name">Item Name :</label>
						</div>
						<div class="col-xs-9" >
							<input type="text" class="form-control " id="modal_name" name="item_name" required autofocus>
						</div>
					</div>
					
					<div class="form-group row  ">
						<div class="col-xs-3">
							<label class=" left pull-right " for="modal_disc">Description :</label>
						</div>
						<div class="col-xs-9">
							<input type="text" class="form-control " id="modal_disc" name="description" >
						</div>						
					</div>	
					<div class="form-group row">
						<!-- {% if element %}
							{% if not parent.is_vegetarian and not parent.is_nonvegetarian %}
							<div class="col-sm-6  " >
								<div class="pull-right">
				  					<label for="modal_checkbox1" class="left"> NonVeg: <input id="modal_checkbox1" class="right" type="checkbox" name="item_type"  ></label>
					 			</div>
							</div>
							{% endif %}
						{% else %}
							{% if not parent.is_vegetarian and not parent.is_nonvegetarian and not parent.item_category.is_vegetarian and not parent.item_category.is_nonvegetarian %}
							<div class="col-sm-6  " >
								<div class="pull-right">
				  					<label for="modal_checkbox1" class="left"> NonVeg: <input id="modal_checkbox1" class="right" type="checkbox" name="item_type"  ></label>
					 			</div>
							</div>
							{% endif %}
						{% endif %} -->
						<div class="col-sm-6" >
							<div class="pull-right">
			  					<label for="modal_checkbox1" class="left"> NonVeg: <input id="modal_checkbox1" class="right" type="checkbox" name="item_type"  ></label>
				 			</div>
						</div>
						<div class="col-xs-6" >
							<div class="pull-right">
			  					<label for="modal_checkbox2" class="left"> Has Options : <input id="modal_checkbox2" class="right" type="checkbox" name="options"  ></label>
				 				</div>
						</div>						
					</div>
					<div class="form-group row">
						<div class="col-xs-12 text-center">
								<input type="hidden" name="modalpost">
								
								<button type="button" class="btn btn-danger pull-right modal-btn">Deactivate</button>
								&nbsp;
								<button type="submit" class="btn btn-info pull-right modal-btn">Submit</button>
								
						</div>
					</div>
				</form>	
      		</div>
      		<div class="modal-footer">
        		<button type="button" id="close_modal" class="btn btn-default" data-dismiss="modal">Close</button>
      		</div>
    	</div>
    </div>
</div>

{% endblock %}

{% block script %}
 <script >
 	var form = $('#itemform');
  	form.submit(function(e){
 		console.log('hi');
 		e.preventDefault();
 		$.ajax({
 			url: form.attr('action'),
 			type: form.attr('method'),
 			data: form.serialize(),
 			dataType: 'json',
 			success:function(data){
 				// console.log(data['data']);
 				$("#itemform").trigger('reset');
 			}
// (WARNING!!!! don't use semicolon)
 		}).done(function(){
	 		$.ajax({
				url: '{% url 'allrestaurants:add_items_table_page' pk=parent.unique_id %}',
				success: function(data) {
				$('#plz_update').html(data);
				// console.log(data);
				Bindeditbuttonclick();
				}
			});	
 		});
 	});

 	$(".edit-detail").click(function(e){
 		$("#edit_item_detail").modal('show');
 		$('.modal').on('shown.bs.modal', function() {
			$(this).find('[autofocus]').focus();
		});
 		item_id=this.id;
 		url="{% url 'allrestaurants:get_item_detail' %}"
    	$.post(url,{'id':item_id},function(data){
    		// $("#contact").text(data['data']['contact']);
    		// $("#res-name").text(data['data']['res-name']);
    		// $("#res_detail").modal('show');
    		var jsObject=JSON.parse(data["data"]);
    		// console.log(data);
    		// console.log(data["data"]);
    		// console.log(JSON.parse(data["data"]));
    		$('#modal_name').val(jsObject[0]["fields"]["name_of_item"])
    		if(jsObject[0]["fields"]["is_vegetarian"]){
    			// console.log("hi");
    			$('#modal_checkbox1').prop('checked',false)
    		}else{
    			$('#modal_checkbox1').prop('checked',true)
    		}
    		if(jsObject[0]["fields"]["has_item_options"]){
    			$('#modal_checkbox2').prop('checked',true)
    		}else{
    			$('#modal_checkbox2').prop('checked',false)
    		}
    		$('#modal_disc').val(jsObject[0]["fields"]["description"])

        });		
 		// console.log(itemcategory_id);
 		var modalform = $('#modal_edit_item_form');
	  	modalform.submit(function(e){
	  		e.preventDefault();
	  		var lol=modalform.serialize()+"&item_uniqueid="+item_id;
	  		// console.log(lol);
	 		// console.log(modalform.serialize());
	 		// console.log(modalform.serialize().split('&'));
	 		// jsonArray=[];
	 		// $.each(modalform.serialize().split('&'), function (key, value) {

    //             item = {};
    //             var splittedValue = value.split('=');               
    //             item["name"] = splittedValue[0];
    //             item["value"] = splittedValue[1];
    //             jsonArray.push(item);
    //         });

   	// 		console.log(jsonArray);
	 		 		
	 		$.ajax({
	 			url: modalform.attr('action'),
	 			type: modalform.attr('method'),
	 			data: lol,
	 			dataType: 'json',
	 			success:function(data){
	 				// console.log(data['data']);
	 				
	 			}
	 		}).done(function(){
		 		$.ajax({
					url: '{% url 'allrestaurants:add_items_table_page' pk=parent.unique_id %}',
					success: function(data) {
					$('#plz_update').html(data);
					modalform.trigger('reset');
					$("#close_modal").trigger('click');
					Bindeditbuttonclick();
					// console.log(data);
					}
				});	
 			});
	 	});				
	});

	function Bindeditbuttonclick(){
 		$(".edit-detail").click(function(e){
 		$("#edit_item_detail").modal('show');
 		$('.modal').on('shown.bs.modal', function() {
			$(this).find('[autofocus]').focus();
		});
 		item_id=this.id;
 		url="{% url 'allrestaurants:get_item_detail' %}"
    	$.post(url,{'id':item_id},function(data){
    		// $("#contact").text(data['data']['contact']);
    		// $("#res-name").text(data['data']['res-name']);
    		// $("#res_detail").modal('show');
    		var jsObject=JSON.parse(data["data"]);
    		// console.log(data);
    		// console.log(data["data"]);
    		// console.log(JSON.parse(data["data"]));
    		$('#modal_name').val(jsObject[0]["fields"]["name_of_item"])
    		if(jsObject[0]["fields"]["is_vegetarian"]){
    			// console.log("hi");
    			$('#modal_checkbox1').prop('checked',false)
    		}else{
    			$('#modal_checkbox1').prop('checked',true)
    		}
    		if(jsObject[0]["fields"]["has_item_options"]){
    			$('#modal_checkbox2').prop('checked',true)
    		}else{
    			$('#modal_checkbox2').prop('checked',false)
    		}
    		$('#modal_disc').val(jsObject[0]["fields"]["description"])

        });		
 		// console.log(itemcategory_id);
 		var modalform = $('#modal_edit_item_form');
	  	modalform.submit(function(e){
	  		e.preventDefault();
	  		var lol=modalform.serialize()+"&item_uniqueid="+item_id;
	  		// console.log(lol);
	 		// console.log(modalform.serialize());
	 		// console.log(modalform.serialize().split('&'));
	 		// jsonArray=[];
	 		// $.each(modalform.serialize().split('&'), function (key, value) {

    //             item = {};
    //             var splittedValue = value.split('=');               
    //             item["name"] = splittedValue[0];
    //             item["value"] = splittedValue[1];
    //             jsonArray.push(item);
    //         });

   	// 		console.log(jsonArray);
	 		 		
	 		$.ajax({
	 			url: modalform.attr('action'),
	 			type: modalform.attr('method'),
	 			data: lol,
	 			dataType: 'json',
	 			success:function(data){
	 				// console.log(data['data']);
	 				
	 			}
	 		}).done(function(){
		 		$.ajax({
					url: '{% url 'allrestaurants:add_items_table_page' pk=parent.unique_id %}',
					success: function(data) {
					$('#plz_update').html(data);
					modalform.trigger('reset');
					$("#close_modal").trigger('click');
					Bindeditbuttonclick();
					// console.log(data);
					}
				});	
 			});
	 	});				
	});

 	}
</script>

{% endblock %}



































