<table class="table table-striped" >
	<thead>
		<tr class="row">
			<th class="col-sm-1 text-center">Sr No.</th>
			<th class="col-sm-5">Items Name</th>
			<th class="col-sm-6"></th>
			<th class="col-sm-0"></th>
		</tr>
	</thead>
	<tbody>
	{% for item in items_list %}
		<tr class="row">
			<td class="col-sm-1 text-center" style= "vertical-align:middle;" >
                {{ forloop.counter }} {# starting index 1 #}
            </td>
			<td class="col-sm-5 " style= "vertical-align:middle;" ><h4 class="">{{ item }}</h4></td>
			<td class="col-sm-6" style= "vertical-align:middle;" >
				<span class="pull-right" style="padding-top: 6px">
					{% if item.has_item_options %}
					<a href="{% url 'allrestaurants:add_item_options_page' pk=item.unique_id%}" class="btn btn-info btn-sm ">Add Options</a>
					{% endif %}
					<button type="button" class="btn btn-info btn-sm edit-detail" data-toggle="modal" id="{{ item.unique_id }}">Edit</button>
				</span>
			</td>
			<td class="col-sm-0">
				{% if item.is_vegetarian %}
					<span class="veg col-sm-1 pull-right" style="padding-top: 10px">
					   <i class="fa fa-square-o icon-stack-2x text-center"></i>
					   <i class=" fa fa-circle icon-stack-1x text-center"></i>
					</span >
					{% else %}
					<span class="nonveg col-sm-1 pull-right" style="padding-top: 10px">
					   <i class="fa fa-square-o icon-stack-2x text-center"></i>
					   <i class=" fa fa-circle icon-stack-1x text-center"></i>
					</span>
				{% endif %}
				<!-- {% if item.belong_to_item_category.is_vegetarian %}
				<span class="veg col-sm-1 pull-right" style="padding-top: 10px">
				   <i class="fa fa-square-o icon-stack-2x text-center"></i>
				   <i class=" fa fa-circle icon-stack-1x text-center"></i>
				</span >
				{% else %}
					{% if item.belong_to_item_category.is_nonvegetarian %}
					<span class="nonveg col-sm-1 pull-right" style="padding-top: 10px">
					   <i class="fa fa-square-o icon-stack-2x text-center"></i>
					   <i class=" fa fa-circle icon-stack-1x text-center"></i>
					</span>
					{% else %}
						{% if item.belong_to_item_subcategory.is_vegetarian %}
						<span class="veg col-sm-1 pull-right" style="padding-top: 10px">
						   <i class="fa fa-square-o icon-stack-2x text-center"></i>
						   <i class=" fa fa-circle icon-stack-1x text-center"></i>
						</span >
						{% else %}
							{% if item.belong_to_item_subcategory.is_nonvegetarian %}
							<span class="nonveg col-sm-1 pull-right" style="padding-top: 10px">
							   <i class="fa fa-square-o icon-stack-2x text-center"></i>
							   <i class=" fa fa-circle icon-stack-1x text-center"></i>
							</span>
							{% else %}
								{% if not item.belong_to_item_category.is_nonvegetarian and not item.belong_to_item_category.is_vegetarian and not item.belong_to_item_subcategory.is_nonvegetarian and not item.belong_to_item_subcategory.is_vegetarian%}
									{% if item.is_vegetarian %}
									<span class="veg col-sm-1 pull-right" style="padding-top: 10px">
									   <i class="fa fa-square-o icon-stack-2x text-center"></i>
									   <i class=" fa fa-circle icon-stack-1x text-center"></i>
									</span >
									{% else %}
									<span class="nonveg col-sm-1 pull-right" style="padding-top: 10px">
									   <i class="fa fa-square-o icon-stack-2x text-center"></i>
									   <i class=" fa fa-circle icon-stack-1x text-center"></i>
									</span>
									{% endif %}
								{% endif %}
							{% endif %}
						{% endif %}
					{% endif %}
				{% endif %} -->
			</td>					
		</tr>
	{% endfor %}
	</tbody>
</table>