{% extends 'allrestaurants/base.html' %}
{% block title %}Add Item Options{% endblock %}

{% block link %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
<style type="text/css">

label.left {
    margin:0 auto;
    display: block;
    line-height: 30px;
    vertical-align: middle;   
    font-size: 15px  
}
.right {
    width:20px;
    margin:0 auto;
    height: 20px;
    display: inline;
    line-height: 200px;
    vertical-align: middle;
}
.modal-btn
    {
        margin:5px;
    }
</style>

<div class="container">
	<div class="jumbotron">
		<h4 class="text-center"> Add Item Options Details </h4>
		<hr>
		<p>Restaurant Name: {{ item.belong_to_item_category.restaurant }}</p>
		<p>Item Category: {{ item.belong_to_item_category }}</p>
		<p>Item Name: {{ item }}</p>
		<!-- <p>Restaurant Name : <a href="">{{ categ_name.restaurant }}</a></p>
		<p>Item Category : <a href="">{{ categ_name }}</a></p> -->
		<form id="item_option_form" class="form-horizontal" action="{% url 'allrestaurants:save_item_options' pk=item_id %}" method="post" autocomplete="off">
			{% csrf_token %}
			<div class="form-group row">
				<div class="col-sm-2">
					<label class="left pull-right" for="option_type">Option Type:</label>
				</div>
				<div class="col-sm-10" >
					<input type="text" class="form-control " id="option_type" name="item_option_type" required autofocus>
				</div>
				
			</div>
			<div class="form-group row">
				<div class="col-sm-2">
					<label class="left pull-right" for="name">QuantityDetail:</label>
				</div>
				<div class="col-sm-10" >
					<input type="text" class="form-control " id="name" name="quantity_detail" >
				</div>
				
			</div>
			<div class="form-group row  ">
				<div class="col-sm-2">
					<label class=" left pull-right " for="disc">Description:</label>
				</div>
				<div class="col-sm-10">
					<input type="text" class="form-control " id="disc" name="description" >
				</div>				
			</div>
			<div class="form-group row">
				<div class="col-sm-2">
					<label class=" left pull-right " for="cost">Cost:</label>
				</div>
				<div class="col-sm-4">
					<input type="number" class="form-control " id="cost" name="cost" required >
				</div>	
				<div class="col-sm-2">
					<label class=" left pull-right " for="tax">Tax Percent:</label>
				</div>
				<div class="col-sm-4">
					<input type="number" class="form-control " id="tax" name="tax_percent" required>
				</div>
				
			</div>
			<div class="form-group row">
				<div class="col-sm-12 text-center">
					<button type="submit" class="btn btn-info pull-right">Submit</button>
				</div>
			</div>	
		</form>
	</div>
</div>
<div class="container">
	<div class="jumbotron">
		<h4 class="text-center">Item Options</h4>
		<hr>
	    <div id="plz_update">
	    	{% include 'allrestaurants/admin_add_item_options_table.html' %}
	    </div>
    </div>
</div>
<div id="edit_item_option_detail" class="modal fade" role="dialog">
  	<div class="modal-dialog">

    <!-- Modal content-->
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal">&times;</button>
        		<h4 class="modal-title" id=""></h4>
      		</div>
      		<div class="modal-body">
	        	<form id="modal_edit_item_option_form" class="form-horizontal" action="{% url 'allrestaurants:save_edited_item_option'%}" method="post" autocomplete="off">
				{% csrf_token %}
					<div class="row form-group">
						<div class="col-xs-3">
							<label class="left pull-right" for="modal_item_option_type">Option Type:</label>
						</div>
						<div class="col-xs-9" >
							<input type="text" class="form-control " id="modal_item_option_type" name="item_option_type" required autofocus>
						</div>
					</div>
					<div class="form-group row  ">
						<div class="col-xs-3">
							<label class=" left pull-right " for="modal_quantity_detail">QuantityDetail:</label>
						</div>
						<div class="col-xs-9">
							<input type="text" class="form-control " id="modal_quantity_detail" name="quantity_detail" >
						</div>						
					</div>
					
					<div class="form-group row  ">
						<div class="col-xs-3">
							<label class=" left pull-right " for="modal_disc">Description:</label>
						</div>
						<div class="col-xs-9">
							<input type="text" class="form-control " id="modal_disc" name="description" >
						</div>						
					</div>	
					<div class="form-group row">
						<div class="col-sm-3">
							<label class=" left pull-right " for="modal_cost">Cost:</label>
						</div>
						<div class="col-sm-9">
							<input type="number" class="form-control " id="modal_cost" name="cost" required >
						</div>					
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label class=" left pull-right " for="modal_tax">Tax Percent:</label>
						</div>
						<div class="col-sm-9">
							<input type="number" class="form-control " id="modal_tax" name="tax_percent" required>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 text-center">
								<input type="hidden" name="modalpost">
								
								<button type="button" class="btn btn-danger pull-right modal-btn">Deactivate</button>
								&nbsp;
								<button type="submit" class="btn btn-info pull-right modal-btn">Submit</button>
								
						</div>
					</div>
				</form>	
      		</div>
      		<div class="modal-footer">
        		<button type="button" id="close_modal" class="btn btn-default" data-dismiss="modal">Close</button>
      		</div>
    	</div>
    </div>
</div>
{% endblock %}

{% block script %}
 <script >
  	var form = $('#item_option_form');
  
  	form.submit(function(e){
	    // console.log('hi');
	    e.preventDefault();
	    /*url=form.attr('action');
	    $.post(url,json_data,function(data){
	      alert(data)

	    });*/
	    $.ajax({
	      	url: form.attr('action'),
	      	type: form.attr('method'),
	      	data: form.serialize(),
	      	dataType: 'json',
	      	success:function(data){
	        	// console.log(data['data']);
	        	$("#item_option_form").trigger('reset');
	      	}
// (WARNING!!!! don't use semicolon)
	    }).done(function(){
		    $.ajax({
		      	url: "{% url 'allrestaurants:add_item_options_table_page' pk=item_id %}",
		      	success: function(data) {
		      	$('#plz_update').html(data);
		      	// console.log(data);
		      	Bindeditbuttonclick()
		      	}
		    });	  
	    });
    });

    $(".edit-detail").click(function(e){
 		$("#edit_item_option_detail").modal('show');
 		$('.modal').on('shown.bs.modal', function() {
			$(this).find('[autofocus]').focus();
		});
 		itemoption_id=this.id;
 		url="{% url 'allrestaurants:get_item_options_detail' %}"
    	$.post(url,{'id':itemoption_id},function(data){
    		// $("#contact").text(data['data']['contact']);
    		// $("#res-name").text(data['data']['res-name']);
    		// $("#res_detail").modal('show');
    		var jsObject=JSON.parse(data["data"]);
    		// console.log(data);
    		// console.log(data["data"]);
    		// console.log(JSON.parse(data["data"]));
    		$('#modal_item_option_type').val(jsObject[0]["fields"]["item_option_type"])
    		$('#modal_disc').val(jsObject[0]["fields"]["description"])
    		$('#modal_quantity_detail').val(jsObject[0]["fields"]["quantity_detail"])
    		$('#modal_tax').val(jsObject[0]["fields"]["tax_percent"])
    		$('#modal_cost').val(jsObject[0]["fields"]["cost"])
    		// $('#modal_disc').val(jsObject[0]["fields"]["description"])

        });		
 		// console.log(itemcategory_id);
 		var modalform = $('#modal_edit_item_option_form');
	  	modalform.submit(function(e){
	  		e.preventDefault();
	  		var lol=modalform.serialize()+"&item_option_uniqueid="+itemoption_id;
	  		// console.log(lol);
	 		// console.log(modalform.serialize());
	 		// console.log(modalform.serialize().split('&'));
	 		// jsonArray=[];
	 		// $.each(modalform.serialize().split('&'), function (key, value) {

    //             item = {};
    //             var splittedValue = value.split('=');               
    //             item["name"] = splittedValue[0];
    //             item["value"] = splittedValue[1];
    //             jsonArray.push(item);
    //         });

   	// 		console.log(jsonArray);
	 		 		
	 		$.ajax({
	 			url: modalform.attr('action'),
	 			type: modalform.attr('method'),
	 			data: lol,
	 			dataType: 'json',
	 			success:function(data){
	 				// console.log(data['data']);
	 				
	 			}
	 		}).done(function(){
		 		$.ajax({
					url: "{% url 'allrestaurants:add_item_options_table_page' pk=item_id %}",
					success: function(data) {
					$('#plz_update').html(data);
					modalform.trigger('reset');
					$("#close_modal").trigger('click');
					Bindeditbuttonclick();
					// console.log(data);
					}
				});	
 			});
	 	});				
	});

	function Bindeditbuttonclick(){
 		$(".edit-detail").click(function(e){
 		$("#edit_item_option_detail").modal('show');
 		$('.modal').on('shown.bs.modal', function() {
			$(this).find('[autofocus]').focus();
		});
 		itemoption_id=this.id;
 		url="{% url 'allrestaurants:get_item_options_detail' %}"
    	$.post(url,{'id':itemoption_id},function(data){
    		// $("#contact").text(data['data']['contact']);
    		// $("#res-name").text(data['data']['res-name']);
    		// $("#res_detail").modal('show');
    		var jsObject=JSON.parse(data["data"]);
    		// console.log(data);
    		// console.log(data["data"]);
    		// console.log(JSON.parse(data["data"]));
    		$('#modal_item_option_type').val(jsObject[0]["fields"]["item_option_type"])
    		$('#modal_disc').val(jsObject[0]["fields"]["description"])
    		$('#modal_quantity_detail').val(jsObject[0]["fields"]["quantity_detail"])
    		$('#modal_tax').val(jsObject[0]["fields"]["tax_percent"])
    		$('#modal_cost').val(jsObject[0]["fields"]["cost"])
    		// $('#modal_disc').val(jsObject[0]["fields"]["description"])

        });		
 		// console.log(itemcategory_id);
 		var modalform = $('#modal_edit_item_option_form');
	  	modalform.submit(function(e){
	  		e.preventDefault();
	  		var lol=modalform.serialize()+"&item_option_uniqueid="+itemoption_id;
	  		console.log(lol);
	 		// console.log(modalform.serialize());
	 		// console.log(modalform.serialize().split('&'));
	 		// jsonArray=[];
	 		// $.each(modalform.serialize().split('&'), function (key, value) {

    //             item = {};
    //             var splittedValue = value.split('=');               
    //             item["name"] = splittedValue[0];
    //             item["value"] = splittedValue[1];
    //             jsonArray.push(item);
    //         });

   	// 		console.log(jsonArray);
	 		 		
	 		$.ajax({
	 			url: modalform.attr('action'),
	 			type: modalform.attr('method'),
	 			data: lol,
	 			dataType: 'json',
	 			success:function(data){
	 				// console.log(data['data']);
	 				
	 			}
	 		}).done(function(){
		 		$.ajax({
					url: "{% url 'allrestaurants:add_item_options_table_page' pk=item_id %}",
					success: function(data) {
					$('#plz_update').html(data);
					modalform.trigger('reset');
					$("#close_modal").trigger('click');
					// Bindeditbuttonclick();
					// console.log(data);
					}
				});	
 			});
	 	});				
	});
 }

 </script>
{% endblock %}

