<table class="table table-striped">
	<thead>
		<tr class="row">
			<th class="col-sm-1 text-center">Sr No.</th>
			<th class="col-sm-5">SubCategory Name</th>
			<th class="col-sm-6"></th>
		  	<!-- <th class="col-sm-0"></th> -->
		</tr>
	</thead>
	<tbody>
	{% for subcat in subcateg_list %}
		<tr class="row">
			<td class="col-sm-1 text-center" style= "vertical-align:middle;" >
                {{ forloop.counter }} {# starting index 1 #}  
            </td>
			<td class="col-sm-5" style= "vertical-align:middle;"><h4 class="">{{ subcat }}</h4></td>
			<td class="col-sm-6" style= "vertical-align:middle;">
				<span class="pull-right" style="padding-top: 6px"> 
					<a href="{% url 'allrestaurants:add_items_page' pk=subcat.unique_id %}" class="btn btn-info btn-sm ">Add Items</a>  				
    				<button type="button" class="btn btn-info btn-sm edit-detail" data-toggle="modal" id="{{ subcat.unique_id }}">Edit</button>
				</span>
			</td>
			<!-- <td class="col-sm-0">
				{% if subcat.item_category.is_vegetarian %}
				<span class="veg col-sm-1 pull-right" style="padding-top: 10px">
				   <i class="fa fa-square-o icon-stack-2x text-center"></i>
				   <i class=" fa fa-circle icon-stack-1x text-center"></i>
				</span >
				{% else %}
					{% if subcat.item_category.is_nonvegetarian %}
					<span class="nonveg col-sm-1 pull-right" style="padding-top: 10px">
					   <i class="fa fa-square-o icon-stack-2x text-center"></i>
					   <i class=" fa fa-circle icon-stack-1x text-center"></i>
					</span>
					{% else %}
						{% if not subcat.item_category.is_nonvegetarian and not subcat.item_category.is_vegetarian %}
							{% if subcat.is_vegetarian or subcat.is_nonvegetarian %}
								{% if subcat.is_vegetarian %}
								<span class="veg col-sm-1 pull-right" style="padding-top: 10px">
								   <i class="fa fa-square-o icon-stack-2x text-center"></i>
								   <i class=" fa fa-circle icon-stack-1x text-center"></i>
								</span >
								{% else %}
								<span class="nonveg col-sm-1 pull-right" style="padding-top: 10px">
								   <i class="fa fa-square-o icon-stack-2x text-center"></i>
								   <i class=" fa fa-circle icon-stack-1x text-center"></i>
								</span>
								{% endif %}
							{% endif %}
						{% endif %}
					{% endif %}
				{% endif %}
			</td> -->					
		</tr>
	{% endfor %}
	</tbody>
</table>