{% extends 'allrestaurants/base.html' %}
{% block title %}Add Item Category{% endblock %}

{% block link %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}

<style type="text/css">
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
label.left {
    margin:0 auto;
    display: block;
    line-height: 30px;
    vertical-align: middle;   
    font-size: 15px   
}
.right {
    width:20px;
    margin:0 auto;
    height: 20px;
    display: inline;
    line-height: 200px;
    vertical-align: middle;
}
.veg{
	color: green;
}
.nonveg{
	color: red;
}

.icon-stack-1x,
.icon-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  
}
.icon-stack-1x {
  line-height: inherit;

}
.icon-stack-2x {
  font-size: 1.6em;
}
.modal-btn
    {
        margin:5px;
    }
</style>

<div class="container">
	<div class="jumbotron">
		<h4 class="text-center"> Add Item Category Details </h4>
		<hr>
		<p>Restaurant Name: <a href="{% url 'allrestaurants:restaurant_list'%}">{{ res_name }}</a></p>
		<form id="categform" class="form-horizontal" action="{% url 'allrestaurants:save_itemcategory' pk=res_id %}" method="post" autocomplete="off">
		{% csrf_token %}
			<div class="form-group row">
				<div class="col-sm-2">
					<label class="left pull-right" for="name">Category Name:</label>
				</div>
				<div class="col-sm-6" >
					<input type="text" class="form-control " id="name" name="category_name" required autofocus>
				</div>
				<!-- <div class="col-sm-2  " >
					<div class="text-center">
	  					<label for="checkbox1" class="left">Veg: <input id="checkbox1" class="right" type="checkbox" name="category_type"  value="veg"></label>
		 			</div>
				</div>
				<div class="col-sm-2  " >
					<div class="text-center">
	  					<label for="checkbox11" class="left"> NonVeg: <input id="checkbox11" class="right" type="checkbox" name="category_type" value="nonveg" ></label>
		 			</div>
				</div> -->
				<div class="col-sm-4 ">
					<div class="pull-left">
	  					<label for="checkbox2" class="left"> Subcategories: <input id="checkbox2" class="right" type="checkbox" name="subcategory"  ></label>
		 			</div>
				</div>
				
			</div>
			<div class="form-group row  ">
				<div class="col-sm-2">
					<label class=" left pull-right " for="disc">Description:</label>
				</div>
				<div class="col-sm-8">
					<input type="text" class="form-control " id="disc" name="description" >
				</div>
				<div class="col-sm-2 text-center">
					<button type="submit" class="btn btn-info pull-right">Submit</button>
				</div>
			</div>	
		</form>		
	</div>
</div>

<div class="container">
	<div class="jumbotron">
		<h4 class="text-center">Item Categories</h4>
		<hr>
		<div id="plz_update">
			{% include 'allrestaurants/admin_add_categories_table.html' %}
		</div>
    </div>
</div>
<div id="edit_categ_detail" class="modal fade" role="dialog">
  	<div class="modal-dialog">

    <!-- Modal content-->
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal">&times;</button>
        		<h4 class="modal-title" id=""></h4>
      		</div>
      		<div class="modal-body">
	        	<form id="modal_edit_itemcategory_form" class="form-horizontal" action="{% url 'allrestaurants:save_edited_itemcategory'%}" method="post" autocomplete="off">
				{% csrf_token %}
					<div class="row form-group">
						<div class="col-xs-3">
							<label class="left pull-right" for="modal_name">Category Name:</label>
						</div>
						<div class="col-xs-9" >
							<input type="text" class="form-control " id="modal_name" name="category_name" required autofocus>
						</div>
					</div>
					
					<div class="form-group row  ">
						<div class="col-xs-3">
							<label class=" left pull-right " for="modal_disc">Description:</label>
						</div>
						<div class="col-xs-9">
							<input type="text" class="form-control " id="modal_disc" name="description" >
						</div>						
					</div>	
					<div class="row form-group">
						<!-- <div class="col-xs-5  " >
							<div class="pull-right">
			  					<label for="modal_checkbox1" class="left">	Veg: <input id="modal_checkbox1" class="right" type="checkbox" name="category_type" value="veg" ></label>
				 				</div>
						</div>
						<div class="col-xs-3  " >
							<div class="pull-right">
			  					<label for="modal_checkbox11" class="left"> NonVeg: <input id="modal_checkbox11" class="right" type="checkbox" name="category_type"  value="nonveg"></label>
				 				</div>
						</div> -->
						<div class="col-xs-12" >
							<div class="pull-right">
			  					<label for="modal_checkbox2" class="left"> Subcategories: <input id="modal_checkbox2" class="right" type="checkbox" name="subcategory"  ></label>
				 				</div>
						</div>						
					</div>
					<div class="row form-group">
						<div class="col-xs-12 text-center">
								<input type="hidden" name="modalpost">
								
								<button type="button" class="btn btn-danger pull-right modal-btn">Deactivate</button>
								&nbsp;
								<button type="submit" class="btn btn-info pull-right modal-btn">Submit</button>
								
						</div>
					</div>
				</form>	
      		</div>
      		<div class="modal-footer">
        		<button type="button" id="close_modal" class="btn btn-default" data-dismiss="modal">Close</button>
      		</div>
    	</div>
    </div>
</div>
<!-- <div id="snackbar">Plz choose either Veg or Non-Veg</div> -->

{% endblock %}

{% block script %}
 <script >
 	var form = $('#categform');
  	form.submit(function(e){
 		// console.log('hi');
 		e.preventDefault();
 		/*url=form.attr('action');
 		$.post(url,json_data,function(data){
 			alert(data)

 		});*/
 	// 	if($("#checkbox1").is(':checked')&&$("#checkbox11").is(':checked')){
		// 	$().ready(function() {
		// 	    var x = document.getElementById("snackbar")
		// 	    x.className = "show";
		// 	    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
		// 	});
		// }
 		$.ajax({
 			url: form.attr('action'),
 			type: form.attr('method'),
 			data: form.serialize(),
 			dataType: 'json',
 			success:function(data){
 				// console.log(data['data']);
 				$("#categform").trigger('reset');
 			}
// (WARNING!!!! don't use semicolon)
 		}).done(function(){
	 		$.ajax({
				url: '{% url 'allrestaurants:add_itemcategory_table_page' pk=res_id %}',
				success: function(data) {
				$('#plz_update').html(data);
				// console.log(data);
				Bindeditbuttonclick();
				}
			});	
 		});
 	});

 	function Bindeditbuttonclick(){
 		// console.log("Bindeditbuttonclick")
 		$(".edit-detail").click(function(e){
	 		$("#edit_categ_detail").modal('show');
	 		$('.modal').on('shown.bs.modal', function() {
			$(this).find('[autofocus]').focus();
		});
	 		itemcategory_id=this.id;
	 		url="{% url 'allrestaurants:get_itemcategory_detail' %}"
	    	$.post(url,{'id':itemcategory_id},function(data){
	    		// $("#contact").text(data['data']['contact']);
	    		// $("#res-name").text(data['data']['res-name']);
	    		// $("#res_detail").modal('show');
	    		var jsObject=JSON.parse(data["data"]);
	    		// console.log(data);
	    		// console.log(data["data"]);
	    		// console.log(JSON.parse(data["data"]));
	    		$('#modal_name').val(jsObject[0]["fields"]["name_of_category"])
	    		// if(jsObject[0]["fields"]["is_vegetarian"]){
	    		// 	// console.log("hi");
	    		// 	$('#modal_checkbox1').prop('checked',true)
	    		// }else{
	    		// 	$('#modal_checkbox1').prop('checked',false)
	    		// }
	    		// if(jsObject[0]["fields"]["is_nonvegetarian"]){
	    		// 	// console.log("hi");
	    		// 	$('#modal_checkbox11').prop('checked',true)
	    		// }else{
	    		// 	$('#modal_checkbox11').prop('checked',false)
	    		// }
	    		if(jsObject[0]["fields"]["has_subcategory"]){
	    			$('#modal_checkbox2').prop('checked',true)
	    		}else{
	    			$('#modal_checkbox2').prop('checked',false)
	    		}
	    		$('#modal_disc').val(jsObject[0]["fields"]["description"])

	        });			
	 		// console.log(itemcategory_id);
	 		var modalform = $('#modal_edit_itemcategory_form');
		  	modalform.submit(function(e){
		  		e.preventDefault();
		  		var lol=modalform.serialize()+"&category_uniquecode="+itemcategory_id;
		  		// console.log(lol);
		 		// console.log(modalform.serialize());
		 		// console.log(modalform.serialize().split('&'));
		 		// jsonArray=[];
		 		// $.each(modalform.serialize().split('&'), function (key, value) {

	    //             item = {};
	    //             var splittedValue = value.split('=');               
	    //             item["name"] = splittedValue[0];
	    //             item["value"] = splittedValue[1];
	    //             jsonArray.push(item);
	    //         });

	   	// 		console.log(jsonArray);
		 		 		
		 		$.ajax({
		 			url: modalform.attr('action'),
		 			type: modalform.attr('method'),
		 			data: lol,
		 			dataType: 'json',
		 			success:function(data){
		 				// console.log(data['data']);
		 				
		 			}
		 		}).done(function(){
			 		$.ajax({
						url: '{% url 'allrestaurants:add_itemcategory_table_page' pk=res_id %}',
						success: function(data) {
						$('#plz_update').html(data);
						modalform.trigger('reset');
						$("#close_modal").trigger('click');
						Bindeditbuttonclick();
						// console.log(data);
						}
					});	
	 			});
		 	});
 		
		
		});

 	}

 	$(".edit-detail").click(function(e){
 		$("#edit_categ_detail").modal('show');
 		$('.modal').on('shown.bs.modal', function() {
		$(this).find('[autofocus]').focus();
	 	});
 		itemcategory_id=this.id;
 		url="{% url 'allrestaurants:get_itemcategory_detail' %}"
    	$.post(url,{'id':itemcategory_id},function(data){
    		// $("#contact").text(data['data']['contact']);
    		// $("#res-name").text(data['data']['res-name']);
    		// $("#res_detail").modal('show');
    		var jsObject=JSON.parse(data["data"]);
    		// console.log(data);
    		// console.log(data["data"]);
    		// console.log(JSON.parse(data["data"]));
    		$('#modal_name').val(jsObject[0]["fields"]["name_of_category"])
    		// if(jsObject[0]["fields"]["is_vegetarian"]){
    		// 	// console.log("hi");
    		// 	$('#modal_checkbox1').prop('checked',true)
    		// }else{
    		// 	$('#modal_checkbox1').prop('checked',false)
    		// }
    		// if(jsObject[0]["fields"]["is_nonvegetarian"]){
    		// 	// console.log("hi");
    		// 	$('#modal_checkbox11').prop('checked',true)
    		// }else{
    		// 	$('#modal_checkbox11').prop('checked',false)
    		// }
    		if(jsObject[0]["fields"]["has_subcategory"]){
    			$('#modal_checkbox2').prop('checked',true)
    		}else{
    			$('#modal_checkbox2').prop('checked',false)
    		}
    		$('#modal_disc').val(jsObject[0]["fields"]["description"])

        });			
 		// console.log(itemcategory_id);
 		var modalform = $('#modal_edit_itemcategory_form');
	  	modalform.submit(function(e){
	  		e.preventDefault();
	  		var lol=modalform.serialize()+"&category_uniquecode="+itemcategory_id;
	  	// 	console.log(lol);
	 		// console.log(modalform.serialize());
	 		// console.log(modalform.serialize().split('&'));
	 		// jsonArray=[];
	 		// $.each(modalform.serialize().split('&'), function (key, value) {

    //             item = {};
    //             var splittedValue = value.split('=');               
    //             item["name"] = splittedValue[0];
    //             item["value"] = splittedValue[1];
    //             jsonArray.push(item);
    //         });

   	// 		console.log(jsonArray);
	 		 		
	 		$.ajax({
	 			url: modalform.attr('action'),
	 			type: modalform.attr('method'),
	 			data: lol,
	 			dataType: 'json',
	 			success:function(data){
	 				// console.log(data['data']);
	 				
	 			}
	 		}).done(function(){
		 		$.ajax({
					url: '{% url 'allrestaurants:add_itemcategory_table_page' pk=res_id %}',
					success: function(data) {
					$('#plz_update').html(data);
					modalform.trigger('reset');
					$("#close_modal").trigger('click');
					Bindeditbuttonclick();
					// console.log(data);
					}
				});	
 			});
	 	});
		
	
	});

	// $("#checkbox1,#modal_checkbox1").on('click',function(){
	// 	// console.log("hi")
	// 	if($("#checkbox11,#modal_checkbox11").is(':checked')){
	// 			$("#checkbox11,#modal_checkbox11").prop('checked', false);
	// 		}		
	// });

	// $("#checkbox11,#modal_checkbox11").on('click',function(){
	// 	// console.log("hi")
	// 	if($("#checkbox1,#modal_checkbox1").is(':checked')){
	// 			$("#checkbox1,#modal_checkbox1").prop('checked', false);
	// 		}		
	// });


 </script>
{% endblock %}



























