{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <title>LHD-{% block title %}{% endblock %}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> {% block link %} {% endblock %}
    <style type="text/css">
    body {
        padding-top: 65px;
        background-color: #C1F8F8;
    }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'allrestaurants:login'%}" style="cursor: pointer;"><img  style="height:45px;width:120px;position:relative;top:-12px" src="http://res.cloudinary.com/https-www-lhdindia-com/image/upload/v1503748644/Asset_4_1_fjprws.png" alt=""></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                {% if request.session.user %}
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'allrestaurants:dashboard'%}">Dashboard</a></li>
                    <!-- <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Page 1-1</a></li>
                            <li><a href="#">Page 1-2</a></li>
                            <li><a href="#">Page 1-3</a></li>
                        </ul>
                    </li> -->
                    <li><a href="#">Orders</a></li>
                    <li><a href="{% url 'allrestaurants:applications'%}">Applications</a></li>
                    <li><a href="#">Reports</a></li>
                    <li><a href="#">Counter</a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'allrestaurants:logout'%}"><span class="glyphicon glyphicon-log-in"></span> LogOut</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
    <!-- <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/admin/allrestaurants/restaurant/">LHD Admin</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#">Add Coupon</a></li>
                <li><a href="{% url 'allrestaurants:restaurant_list'%}">restaurant list</a></li>
                <li><a href="{% url 'allrestaurants:add_restaurant_page'%}">add restaurant</a></li>
                <li><a href="{% url 'allrestaurants:get_all_items'%}">all items</a></li>
            </ul>
        </div>
    </nav> -->
    {% block content %} {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
    $(function() {
        var current = location.pathname;
        // console.log(current)
        $('.nav li a').each(function() {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                // console.log($this.attr('href'))
                $this.parent().addClass('active');
            }
        })
    })
    </script>
    <!-- maintain order -->
    {% block script %} {% endblock %}
</body>

</html>