{% load allrestaurants_filters %}
<form class = "form-horizontal" id="dashboardeditorder" method = "post" action = "#">
	{% csrf_token %}
	<div class = "form-group">
		<label for="ordernumber" class="col-sm-2 control-label">Order Number: </label>
		<div class="col-sm-10">
	        <input type="text" class="form-control" name = "order_number" value="{{order.unique_id}}" readonly />
	    </div>
	</div>
	<div class = "form-group">
		<label for="contactnumber" class="col-sm-2 control-label">Contact Number: </label>
		<div class="col-sm-10">
	        <input type="text" class="form-control" name="contact_number" value="{{order.customer_mobile}}" readonly />
	    </div>
	</div>
	<div class = "form-group">
		<label for="customer-name" class="col-sm-2 control-label">Customer Name: </label>
		<div class="col-sm-10">
	        <input type="text" class="form-control" name="customer_name" value="{{order.customer_name}}" />
	    </div>
	</div>
	<div class = "form-group">
		<label for="order-date" class="col-sm-2 control-label">Order Date: </label>
		<div class="col-sm-10">
	        <input type="text" class="form-control" name = "order_date" value="{{order.placed_at}}" readonly />
	    </div>
	</div>
	<div class = "form-group">
		<label for="customer-address" class="col-sm-2 control-label">Customer Address: </label>
		<div class="col-sm-10">
	        <input type="text" class="form-control" name="address" value="{{order.delivery_address|string_to_obj|title}}" />
	    </div>
	</div>
	<!-- <div class = "form-group">
		<label for="area" class="col-sm-2 control-label">Area: </label>
		<div class="col-sm-10">
	        <select class="form-control" name = "area">
	        	{%for city in cities%}
				<option value="{{city}}">{{city}}</option>
				{%endfor%}
        	</select>
	    </div>
	</div> -->
	<div class = "form-group">
		<label for="delivery-type" class="col-sm-2 control-label">Delivery Type: </label>
		<div class="col-sm-10">
	        <select id="deliverytype" class="form-control" name = "delivery_type">
				<option value="Home Deliverly" {% if order.delivery_type == delivery_type.HD %}selected{% endif %}>Home Delivery</option>
			  	<option value="Branch Pickup" {% if order.delivery_type == delivery_type.BP %}selected{% endif %}>Branch Pickup</option>
			</select>
	    </div>
	</div>
	<div class = "form-group">
		<label for="delivery-date" class="col-sm-2 control-label">Delivery Date: </label>
		<div class="col-sm-10">
	        <input type="text" class="form-control" name="delivery_date" 
	        value="{{order.expected_delivery_datetime}}" />
	    </div>
	</div>
	{% if request.session.user.role == 'admin' %}
	<!-- <div class = "form-group">
		<label for="order-source" class="col-sm-2 control-label">Order Source: </label>
		<div class="col-sm-10">
	        <select class="form-control" name = "source">
				<option value="Foodpanda" {%if order.source == 'Foodpanda'%}selected{%endif%}>Foodpanda</option>
				<option value="Call Center" {%if order.source == 'Call Center'%}selected{%endif%}>Call Center</option>
				<option value="Web" {%if order.source == 'Web'%}selected{%endif%}>Web</option>
				<option value="Android App" {%if order.source == 'Android App'%}selected{%endif%}>Android App</option>
        	</select>
	    </div>
	</div> -->
	{% endif %}
	<!-- <div class = "form-group">
		<label for="refrence-number" class="col-sm-2 control-label">Refrence Number: </label>
		<div class="col-sm-10">
	        <input type="text" class="form-control" name="ref_number" />
	    </div>
	</div> -->
	{% if request.session.user.role == 'admin' %}
	<div class = "form-group">
		<label for="payment-mode" class="col-sm-2 control-label">Payment Mode: </label>
		<div class="col-sm-10">
	        <select id="payment-mode" class="form-control" name="payment_mode">
	        	<option value="{{order.payment_mode}}">{{order.payment_mode}}</option>
				{% for paymentmode in paymentmodes %}
					<option value="{{paymentmode.payment_mode}}" {%if order.payment_mode == paymentmode.payment_mode %}selected{% endif %}>{{paymentmode.payment_mode}}</option>
				{% endfor %}
			</select>
	    </div>
	</div>
	<!-- <div class = "form-group">
		<label for="onlinepay_status" class="col-sm-2 control-label">Pay Status: </label>
		<div class="col-sm-10">
	        <select id="onlinepay_status" class="form-control" name="onlinepay_status">
				<option value="NA" {%if order.onlinepay_status == 'NA'%}selected{%endif%}>NA</option>
				<option value="success" {%if order.onlinepay_status == 'success'%}selected{%endif%}>success</option>
				<option value="pending" {%if order.onlinepay_status == 'pending'%}selected{%endif%}>pending</option>
			</select>
	    </div>
	</div> -->
	{% endif %}
	<!-- <p align="center">Current Payment status is <b>{{order.onlinepay_status}}</b></p> -->
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-4">
        <button type="submit" class="btn btn-primary">Save</button>
        <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
</form>